h5
    {
        color:darkcyan;
    }
h6
    {
        color:darkviolet;
    }
th
    {
        color:orangered; font-size: 27px 
    }
a
    {
        font-style: italic; color:green; font-size: 25px
    }
td
    {
        color:blue; font-size: 22px        
    }
h1
    {
        color: orangered
    } 
#sample
    {
        color: cornflowerblue
    }
.sample2
    {
        color: darkcyan 
    }
ul
    {
        display:flex; 
        list-style: none; 
        flex-direction: row;
    }
@media screen and (max-width: 600px)
{
    ul
        {
            flex-direction: column;
        }
}