<html>
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <title>Resposive form demo</title>
    </head>
    <body></body>
        <div class="row">
            <div class="col-md-4">First Name</div>
            <div class="col-md-8">
                <input type ="text" name="firstName" id = "firstName" placeholder="Enter first name">        
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Last Name</div>
            <div class="col-md-8">
                <input type ="text" name="lastName" id = "lastName" placeholder="Enter last name">        
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Gender</div>
            <div class="col-md-8">
                <input type ="radio" name="gender" id = "genderMale">Male
                <input type ="radio" name="gender" id = "genderFemal">Female
                <input type ="radio" name="gender" id = "genderOther">Other                                  
            </div>
        </div>
     <div class="row">
            <div class="col-md-4">Cars</div>
            <div class="col-md-8">
                <input type ="checkbox" name="car1" id = "car1">Lexus
                <input type ="checkbox" name="car2" id = "car2">Mercedes
                <input type ="checkbox" name="car3" id = "car3">Audi                                  
            </div>
     </div>
        <div class="row">
            <div class="col-md-4">Password</div>
            <div class="col-md-8">
                <input type ="password" name="password" id = "password">        
            </div>
        </div>    
    <div class="row">
            <div class="col-md-4">Countries</div>
            <div class="col-md-8">
                <select name = "country" id = "country">
                    <option value="">Select a country</option>
                    <option value="AFG">Afghaniston</option>
                    <option value="NEP">Nepal</option>
                    <option value="IND">India</option>
                </select>                               
            </div>
        </div>
    </body>
</html>