<!doctype html>
<html>
    <head>
        <title>First Project</title>
        <link rel="stylesheet" href="/css/style.css">
        <style>
        h3
            {
                color:coral ;
            }
        h4
            {
                color:darkgoldenrod;
            }
        </style>
    </head>
    <body>
        <h1 style = "color:orange">Hello World</h1>
        <h2 style = "color:pink">Hello World</h2>
        <h3>Hello World</h3>
        <h4>Hello World</h4>
        <h5>Hello World</h5>
        <h6>Hello World</h6>
        <a href= '/views/mypage.html'> link to my page</a>
        <a href= '/views/mypage.html' target="_blank"> link to my page on new tab</a>
        <h1>Next Sample</h1>
        <h2>Next Sample</h2>
        <h3>Next Sample</h3>
        <h4>Next Sample</h4>
        <h5>Next Sample</h5>
        <h6>Next Sample</h6>
    </body>
</html>