<!doctype html>
<html>
    <head>
        <title>Order Lists and Unordered Lists</title>   
    </head>
    <body>
        <link rel = "stylesheet" href="/css/style.css">
        <h1 id = "sample">Sample Header</h1>
        <h1 class = "sample2">Sample Header 2</h1>
        <h1>Ordered List</h1>
        <ol>
            <li>Apple</li>
            <li>Orange</li>
            <li>Kiwi</li>
        </ol>
        
        <h1>Unordered List</h1>
        <ul>
            <li>Lion</li>    
            <li>Dog</li>
            <li>Tiger</li>
        </ul>
        <h1>Custom Menu</h1>
        <ul>
            <li>
                <a href="/views/index.html">Index</a>
            </li>
            <li>
                <a href="/views/mypage.html">Mypage </a>
            </li>
            <li>
                <a href="/views/table.html">Table</a>
            </li>
            <li>
                <a href="/views/contents.html">Contents</a>
            </li>
        </ul>
    </body>
</html>