<!doctype html>
<html>
    <head>
    <title>Table</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
<body>
</body>
    
    <h1 style="color:Orange">Table Page</h1>
    <table class = "table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>Maya</td>
            <td>Maya</td>
        </tr>
        <tr>
            <td>Arisia</td>
            <td>Singh</td>
        </tr>
    </table>
    
    <table>
        
        <tr>
             <button type="button" class = "btn btn-default">Default</button>
            <th>Links</th>
            <th>Description</th>
        </tr>
        <tr>
             <button type="button" class = "btn btn-primary">Primary</button>
            <td>
                <a href='https://www.google.com/'>Google</a>
            </td>
            <td>Google page</td>
        </tr>
        <tr>
            <td>
                <a href='https://www.facebook.com/'>Facebook</a>
            </td>      
            <td>Facebook page</td>
        </tr>
        <tr>
            <td>
                <a href="http://www.w3schools.com/html/">w3school</a>
            </td>
            <td>w3schools page</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.wikipedia.org/">Wikipedia</a>
            </td>
            <td>Wikipeida page</td>
        </tr>
    </table>
    <button type="button" class = "btn btn-default">Default</button>
    <button type="button" class = "btn btn-primary">Primary</button>
    <button type="button" class = "btn btn-danger">Danger</button>
    <button type="button" class = "btn btn-info">Info</button><button type="button" class = "btn btn-warning">Warning</button>
    <button type="button" class = "btn btn-success">Success</button>
</html>